@tailwind base;
@tailwind components;
@tailwind utilities;

.smaller-image {
    max-width: 100%;
    height: auto;
}

.fa{
    font-size: medium;
}
.pa {
}

@media (max-width: 767px) {
    .smaller-image {
        max-width: 75%;
    }
    .fa{
        font-size: larger;
    }
    .pa {
        margin-left: 15px;
    }
    
}

